/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
    background-color: #b0a5a5;
    margin: 0;
    display: flex;
    place-items: center;
}

h1 {
    color: #646cff;
    font-size: 3.2em;
    line-height: 1.1;
}

@media (max-width: 990px) {
    /* { 
  bora bill
  } */

    h1 {
        color: #50a827;
        font-size: 3.2em;
        line-height: 1.1;
    }
}
