body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
}

.papai {
    display: flex;
    margin: 0;
    min-width: 100%;
    min-height: calc(100vh - 140px);
}

aside {
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    border-right: 2px solid black;
}

main {
    flex: 1; /* ocupa todo o espaço restante */
    padding: 20px;
    box-sizing: border-box;
}

.centro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.soEmMobile {
    display: none;
}

.soEmPc {
    display: initial;
}

.margemVertical {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margemLateral {
    margin-top: 4px;
    margin-bottom: 4px;
}

.bordaBlack1px {
    border: 1px solid black;
}

h1 {
    color: #646cff;
    font-size: 3.2em;
    line-height: 1.1;
}

@media (max-width: 990px) {
    /* xesque */

    h1 {
        color: #50a827;
        font-size: 3.2em;
        line-height: 1.1;
    }

    main {
        padding: 6px;
    }

    .papai {
        min-height: 80vh;
    }

    .soEmMobile {
        display: initial;
    }

    .soEmPc {
        display: none;
    }

    .displayBlockCelular {
        display: block !important;
    }

    .centroSoCelular {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
